[Unit]
Description=Miden faucet
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
Environment="OTEL_SERVICE_NAME=miden-faucet-operator"
EnvironmentFile=/lib/systemd/system/miden-faucet.env
ExecStart=/usr/bin/miden-faucet-operator start
WorkingDirectory=/opt/miden-faucet
User=miden-faucet
RestartSec=5
Restart=always
